h5 {
	color: #e48900;
}
h3{
	color: #dbf6e9;
}

#footer {
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

body{
	background-color: #9e9d89;
	text-align: center;
}
p {
	color: #000000;
}