body{
	background-color: #e40017;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
h2{
	margin-bottom: 20px;
}
.area{
	background-color: #eeeeee;
	width: 100%;
	max-width: 350px;
	height: 700px;
	text-align: center;
}
.logo{
	width: 100%;
	height: auto;
}
.remeber{
	padding-top: 20px;
	padding-bottom: 20px;
}
.gray{
	color: #000;
}
.padding{
	padding: 10px;
}